# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
tfplan

# Keys
*.pem
*.key
*.Zone.Identifier

# AWS
.aws/
awscliv2.zip

# Ansible
*.retry

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
